.pagination {
  display: flex;
}
.item {
  padding-left: 10px;
}
.page, .currentPage{
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.currentPage{
  background: darkgray;
  color: white;
  border: 1px solid black;
}
