.filter ul li{
    display: inline;
    margin-left: 10px;
}
li{
   list-style: none;
   
}
.filter__action{
    color: red;
    border-bottom: 1px solid;
    cursor: pointer;
}
.filter__pass{
    color: black;
    cursor: pointer;
}
